.gradle/
.gradle-local/
build/
app/build/

local.properties
google-services.json

captures/
.externalNativeBuild/
.cxx/
output-metadata.json

*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

*.apk
*.aab
*.jks
*.keystore
*.hprof
*.log

.DS_Store
venv/
